<div class="ekran2" *ngIf="showSearchForm">
  <h5>FIND CHILD</h5>
  <div class="row">
    <form class="col s12" (ngSubmit)="findChild(); childForm.reset()" #childForm="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate" name="firstName" [(ngModel)]="child.firstName"
                 pattern="[^\s]\D*" autocomplete="off">
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate" name="lastName" [(ngModel)]="child.lastName"
                 pattern="[^\s]\D*" autocomplete="off">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pesel" type="text" class="validate" name="pesel" [(ngModel)]="child.pesel"
                 pattern="[0-9]{11}" autocomplete="off">
          <label for="pesel">PESEL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="birthDate" type="date" class="validate" name="date" [(ngModel)]="child.birthDate"
                 autocomplete="off">
          <label for="birthDate">Birthday</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="sex" type="text" class="validate" name="sex" [(ngModel)]="child.sex" pattern="[MF]">
          <label for="sex">Sex (enter M(male) or F(female))</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit" [disabled]="childForm.form.invalid">Find child
      </button>
    </form>
  </div>
</div>
