<div class="ekran1">
  <h5>ADD FATHER</h5>
  <div class="row">
    <form class="col s12" (ngSubmit)="addFatherToFamily(); fatherForm.reset()" #fatherForm="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate" name="firstName" [(ngModel)]="father.firstName" required autocomplete="off" pattern="[^\s]\D*">
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate" name="lastName" [(ngModel)]="father.lastName" required autocomplete="off" pattern="[^\s]\D*">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="pesel" type="text" class="validate" name="pesel" [(ngModel)]="father.pesel" required autocomplete="off" pattern="[0-9]{11}">
          <label for="pesel">PESEL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="birthDate" type="date" class="validate" name="date" [(ngModel)]="father.birthDate" required autocomplete="off">
          <label for="birthDate">Birthday</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit" [disabled]="fatherForm.form.invalid">Add father
      </button>
    </form>
  </div>
</div>

